{% extends "core_layout.html" %}
{% block content %}
<style>
    .input-group-text,
    .form-select {
        font-size: 16px;
    }

    div.input-group input.form-control {
        font-size: 16px;
    }
</style>
<div class="row gx-3 gy-3 mb-3">
    <div class="col-12">
        <div class="card text-white bg-dark">
            <div class="card-body">
                <h4 class="card-title">{% if page == "miscitemtracker" %}Misc. {%endif%}Item Tracker</h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item mc-gold bg-dark">Check which items you own, and at the bottom it will give you a list of what you're missing. The missing item list is formatted for Discord. You can select a tag in the <code>Tag Selection</code> section to mark a specific type of item as owned.</li>
            </ul>
        </div>
    </div>
</div>
<div class="row gx-3 gy-3 mb-3">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <div class="card h-100 text-white bg-dark border-white">
            <h3 class="card-header border-white">Tag Selection</h3>
            <div class="card-body weird-margins" id="colorsContainer">
                <div class="input-group">
                    <label class="input-group-text">Item Tag</label>
                    <select class="form-select" id="tagSelection" onchange="updateShownItems()">
                        <option value="" selected>All</option>
                        {% for tag in validTags %}
                        <option value="{{tag}}">{{tag}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <div class="card h-100 text-white bg-dark border-white">
            <h3 class="card-header border-white">Collected</h3>
            <div class="card-body weird-margins">
                <span id="collectedCount">0</span>/<span id="totalShown">0</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-6">
        <form  method="post" id="exportForm">
            <textarea class="form-control" id="importCode" name="importCode" value="" rows="5"></textarea>
        </form>
    </div>
</div>
<div class="container-fluid px-0 mb-3">
  <!-- Stacks on mobile, acts as an equal-width flex container on 'md' screens and up -->
  <div class="row g-2 d-flex flex-column flex-sm-row justify-content-md-center">
      <div class="col text-center">
            <button type="submit" form="exportForm" class="btn btn-danger">
                Upload Data
            </button></div>
    <div class="col text-center">
            <button class="btn btn-danger" onclick="checkAll()">
                Check All
            </button>
    </div>
    <div class="col text-center">
            <button class="btn btn-danger" onclick="uncheckAll()">
                Uncheck All
            </button>
    </div>
    <div class="col text-center">
            <button class="btn btn-danger" onclick="importCode()">
                Import from text
            </button>
    </div>
    <div class="col text-center">
            <button class="btn btn-danger" onclick="copyToClipBoard()">
                Copy To Clipboard
            </button>
    </div>
  </div>
</div>
{% if page == "miscitemtracker" %}
{% set baseURL = 'images/' ~ ServerName ~ '_Misc_Icons/' %}
{% else %}
{% set baseURL = 'images/' ~ ServerName ~ '_Icons/' %}
{% endif %}
<div class="row gx-3 gy-3 mb-3" id="grid" data-masonry='{"percentPosition": true }'>
    {% set ns = namespace(count=0) %}
    {% for crate, items in sortedItems.items() %}

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <div class="give-preview-text-outer">
            <div class="give-preview-text w-100">
                <div class="give-preview-text-inner text-start">
                    <span class="mc-white mc-bold">{{ crate }}</span>
                    <div><br></div>
                    {% for item in items %}
                    <div id="Item-{{ item['id'] }}">
                        <input type="checkbox" name="item" onclick="exportCode()">
                        <label><img height='32' width='32' src='{{url_for('static', filename=baseURL ~ item.id ~ '.' ~ item.ImageType)}}'> <span class="mc-gold">{{ item["Name"] | safe }}</span></label>
                    </div>
                    {% set ns.count = ns.count + 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row gx-3 gy-3">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
        <div class="give-preview-text-outer">
            <div class="give-preview-text w-100">
                <div class="give-preview-text-inner text-start">
                    <div class="mc-bold mc-gold">Missing Items: </div>
                    <br>
                    <div id="resList"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let checkedItems = {
        {% for crate, items in sortedItems.items() %}
        {% for item in items %}
        {{ item.id }} : false,
        {%endfor%}
        {% endfor %}
    }

    let sortedItems = {{sortedItems | safe }}

    

    function updateShownItems() {
        tagSelect = document.getElementById("tagSelection")
        totalShown = document.getElementById("totalShown")
        console.log(tagSelect.value)
        var totalItems = 0
        for (let crateName in sortedItems) {
            for (let item in sortedItems[crateName]) {
                
                if (tagSelect.value == "") {
                    doesItemHaveTag = true
                } else {
                    doesItemHaveTag = sortedItems[crateName][item]["Tags"].includes(tagSelect.value)
                }
                itemDiv = document.getElementById(`Item-${sortedItems[crateName][item]["id"]}`)
                missingDiv = document.getElementById(`Missing-${sortedItems[crateName][item]["id"]}`)
                if (doesItemHaveTag == false) {
                    itemDiv.classList.add('d-none')
                    if (missingDiv) {
                        missingDiv.classList.add('d-none')
                    }
                } else {
                    itemDiv.classList.remove('d-none')
                    totalItems += 1
                    if (missingDiv) {
                        missingDiv.classList.remove('d-none')
                        
                    }
                }
            }
        }
        var grid = document.getElementById("grid")
        var msnry = new Masonry(grid, {percentPosition: true})
        msnry.reloadItems()
        totalShown.innerHTML = totalItems
        updateCounter()
    }

    window.onload = function () {
        loadFromCookie();
        updateMissingItemList();
    }
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    function loadFromCookie() {
        let oldResults = getCookie("{{ page }}");
        if (oldResults == "") { } else {
            document.getElementById("importCode").value = oldResults;
            importCode();
        }
    }
    function updateCounter() {
        let checkboxes = document.getElementsByName('item')
        let count = document.getElementById("collectedCount")
        var counter = 0
        for (var i=0;i<checkboxes.length;i++) {
            if (checkboxes[i].checked) { 
                if(!checkboxes[i].closest(".d-none")) {
                    console.log(checkboxes[i].parentElement.classList)
                    counter += 1
                }
            }
        }
        count.innerHTML = counter
    }
    function updateMissingItemList() {
        let checkboxes = document.getElementsByName('item')
        let missingItems = document.getElementById("resList")
        let count = document.getElementById("collectedCount")
        missingItems.replaceChildren() // empty missing items list
        var counter = 0
        for (var i=0;i<checkboxes.length;i++) {
            if (checkboxes[i].checked) { 
            } else {
                let crateName = checkboxes[i].parentElement.parentElement.children[0].textContent
                let crateResDiv = document.getElementById(crateName)
                if (crateResDiv) { } else {
                    let crateResDiv = document.createElement("div")
                    crateResDiv.id = crateName
                    crateResDiv.innerHTML = `<br><div class='mc-gold'>- ${crateName}</div>`
                    missingItems.appendChild(crateResDiv)
                }
                let temp = checkboxes[i].parentElement.children[1].children[1].cloneNode(true)
                let emptyDiv = document.createElement("div")
                let itemId = checkboxes[i].parentElement.id.replace("Item-", "")
                emptyDiv.id = `Missing-${itemId}`
                temp.prepend("  - ")
                temp.style.whiteSpace = "pre-wrap"
                emptyDiv.appendChild(temp)
                missingItems.appendChild(emptyDiv);
            }
        }
        count.innerHTML = counter
        updateShownItems()
        updateCounter()
    }
    
    function exportCode() {
        let checkboxes = document.getElementsByName('item');
        actuallyCheckedItems = []
        let result = ""
        for (var i = 0; i < checkboxes.length; i++) {
            let itemId = checkboxes[i].parentElement.id.replace("Item-", "")
            if (checkboxes[i].checked) {
                actuallyCheckedItems.push(Number(itemId))
                checkedItems[itemId] = 1
                result += 1;
            } else {
                checkedItems[itemId] = 0
                result += 0;
            }
        }
        updateMissingItemList();
        document.cookie = `{{ page }}=${JSON.stringify(actuallyCheckedItems)};expires=Wed, 18 Dec 2028 12:00:00 GMT;`;
        document.getElementById("importCode").value = JSON.stringify(actuallyCheckedItems);
    }
    function importCode() {
        let currentValues = JSON.parse(document.getElementById("importCode").value);
        let checkboxes = document.getElementsByName('item');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = false
        }
        for (const itemId of currentValues) {
            try {
                checkbox = document.getElementById(`Item-${itemId}`).children[0]
                checkbox.checked = true
            } catch {}
        }
        /*for (let itemID in currentValues) {
            checkbox = document.getElementById(`Item-${itemID}`).children[0]
            if (currentValues[itemID] == 1) {
                checkbox.checked = true
            } else {
                checkbox.checked = false
            }
        }*/
        updateMissingItemList()
    }
    function checkAll() {
        let checkboxes = document.getElementsByName('item');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = true;
        }
        exportCode()
    }

    function uncheckAll() {
        let checkboxes = document.getElementsByName('item');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = false;
        }
        exportCode()
    }

    function copyToClipBoard() {
        var copyText = document.getElementById("importCode");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyText.value);
        alert("Copied import code to clipboard.")
    }
</script>

{% endblock %}